<form action="/links" method="post" id='form'>
    Enter Title:
    <input type="text" name="title">
  <br>
  <br>
    Enter URL:
    <input type="text" name="url">
  <br>
  <br>
  <input type="submit" value="Create link">
</form>
